<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>482425523121-66aj7b68ipn89cgkhb0maagbgk2hkjje.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.482425523121-66aj7b68ipn89cgkhb0maagbgk2hkjje</string>
	<key>API_KEY</key>
	<string>AIzaSyCORrZalN50Hjw4uRXNPlmEQqH94rMLK90</string>
	<key>GCM_SENDER_ID</key>
	<string>482425523121</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.omerKilicaslan.SweaterShopDemo</string>
	<key>PROJECT_ID</key>
	<string>sweatershop-3c8d7</string>
	<key>STORAGE_BUCKET</key>
	<string>sweatershop-3c8d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:482425523121:ios:dd1e106d377b8a88c6cb90</string>
</dict>
</plist>